.container {
  display: flex;
  flex-direction: column;
}

.array-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  
.array-bar {
    width: 10px;
    display: inline-block;
    margin: 0 1px;
}

.btn-container {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(245, 245, 245);
}
/* to get rid of default a tag styles */
.btn-container > a ,a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.btn-container > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 50px;
  border: 2px solid black;
  background-color: black;
  border-radius: 7px;
  font-weight: 600;
  color: white;
  margin: 20px;
}

.btn-container > a:hover {
  transition: 0.08s ease-in-out;
  background-color: rgb(225, 225, 225);
  color: black;
}